*
!.gitignore
!dynamicCube/
dynamicCube/*
!dynamicCube/ADR_static_tmp.xml
!dynamicCube/steps.sh
!dynamicCube/plot_errors.py
!dynamicCube/fieldconvert_multi.sh
!dynamicCube/fieldconvert_chks.sh
!error_graphs/
error_graphs/*
!error_graphs/ADR_static_tmp.xml
!error_graphs/steps.sh
!error_graphs/plot_errors.py
