*
!.gitignore
!dynamicCube/
dynamicCube/*
!dynamicCube/ADR_static_tmp.xml
!dynamicCube/steps.sh
!dynamicCube/plot_errors.py
!dynamicCube/fieldconvert_multi.sh
!dynamicCube/fieldconvert_chks.sh
!error_graphs/
error_graphs/*
!error_graphs/ADR_static_tmp.xml
!error_graphs/steps.sh
!error_graphs/plot_errors.py
!error_graphs/ADR_stability_tmp.xml
!error_graphs/stability_steps.sh
!error_graphs/plot_stability.py
!error_graphs/square*.xml
!error_graphs/square*.geo
!error_graphs/square*.mcf
!dynamicYplus/
dynamicYplus/*
!dynamicYplus/session.xml
!dynamicYplus/squarecols.xml
!dynamicYplus/session.xml
!dynamicYplus/fieldconvert_chks.sh
!dynamicYplus/fieldconvert_multi.sh